html{
    height:100%;
    width: 100%;
}

body{
    margin:0;
    height:100%;
    width:100%;
}

.quotes__container{
    width:100%;
    height:100vh;
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.grass{
    background-image: url(../images/grass.jpeg);
}

.lav{
    background-image: url(../images/lav.jpeg);
}

.log{
    background-image: url(../images/rocks.jpeg);
}

.quote{
    color:white;

}